*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{

    background-color: rgb(250, 250, 250)
   
}
.header1{
    width: 100%;
}
.header{
    background-image: url(https://www.themes.khaitawng.com/Genius/image-bg/images/home-bg.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.headertext{
    align-items: center;
    width: 90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.headertext h1{
   font-size: 60px;
}
.headertext p{
    font-size:20px ;
    color: #ffffff;
}
.header1 .navbar{
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    width: 100%;
    height: 8vh;
    position: absolute;
    display: flex;         
    padding: 10px 40px;
    align-items: center;
    background-color: white
    
    


}
.list .center{
    display: flex;
    list-style-type: none;
    padding-left: 50%;
  
  
}
.navbar .list{
    width: 75%;
    justify-content: space-between;
    
    
}
.navbar .list .center li a{
 text-decoration: none;
 padding: 0 30px;
 color: rgb(12, 8, 1);
 font-size: 15px;

}
.navbar .Tesla{
    width: 25%;
}
.navbar .Tesla h1{
    color: rgb(243, 8, 55);
}
.Hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 40px;
    margin:44px 12px 0px 0px ;
    font-size :15px;
    background: transparent;
    position: relative;
}
.Hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background:#30c05b ;
    margin: 44px 12px 0px 0px;
    padding: 12px 40px;
    position: relative;
}
.Hero-btn:hover{
    border:1px solid #36a758;
    background: #30c05b;
    transition: 1s;
}
.Hero-btn2:hover{

    border:1px solid #36a758 ;
    background: #30c05b;
    transition: 1s ;
}
.first{
    padding: 8% 8%;
    height: 100vh;
    
}
p{
    color: #808080;
    font-size: 20px;
}
.brand{
    width: 40%;
    padding-top: 5%;
    
}
.brand h1 {
    font-size: 25px;
}
.whattext{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}
.whattext .h1{
   font-size: 15px;
}
.sec{
    
    background-color: rgb(250, 250, 250);
    /* margin: 8% 8%; */
    width: 100%;    
    height: 65vh;
    
}
.geniusstudio{
     margin: 8% 8%;
     display: flex;
}
.gentext{
    width: 45%;
    margin: 8% 8%;
   
}
.vdo{
    margin-top: 6%;
}

.team{
    margin: 6% 4%;
    text-align: center;
    /* position: relative; */

}
.card {
    position: relative;
    width: 350px;
    height: 420px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    align-items: center;
    margin: 6%;
    margin-top: -2%;
    
}
.pic {
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: .5s;
    overflow: hidden;
    object-fit: cover;
}
.pic img {
    display: block;
    width: 100%;
    /* position: relative; */
}
.icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    display: flex;
    z-index: 3;
}
.icon li {
    list-style-type: none;
}
.icon li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 24px;
    color: #333;
    margin: 0 5px;
    transition: .5s;
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden;
}
.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 140px;
    z-index: 1;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60;
   
}
.details h3 {
    margin: 0;
    color: #333;
}
.job {
    font-size: 1rem;
    line-height: 2.0rem;
    color: #333;
    font-weight: 300;
}
.card:hover img {
    opacity: .4;
    transition: .5s;
}

.card:hover li a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.card:hover li:nth-child(1) a {
    transition-delay: .1s;
}
.card:hover li:nth-child(2) a {
    transition-delay: .2s;
}
.card:hover li:nth-child(3) a {
    transition-delay: .3s;
}
.card:hover li:nth-child(4) a {
    transition-delay: .4s;
}
.card:hover .pic {
    transform: translateY(-100px);
    transition: .5s;
}
.container2{
    display: flex;
}
.fourth{
    background-color: rgb(250, 250, 250);
    width:100%;
    height: 180vh;

}
.lastwork{
    padding-top: 7%;
    text-align: center;
}
.l-work{
    background-color: rgb(250, 250, 250);
   
   
}
.picofwork {
    display: flex;
    margin-left: 13%;
   /* padding-top: 10%; */

}
.picofwork div{
    /* position: relative; */
    width: 350px;
    height: 450px;
   
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    align-items: center;
    margin: 1%;
}
.work-l{

    margin-left: 14%;
}

.headblog{
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
   

}
.text{
    vertical-align:middle ;
}
.f{
    width: 600px;
    height: 200px;
    /* background-image: url(https://www.rof.co.in/blog/wp-content/uploads/2019/07/toronto-market-research-1380-x425.jpg); */
    background-size: cover;
    margin-top: 5%;
    margin-left: 7.5%;
    border-radius: 20px;
}
.f:hover{
    background-image: url(https://www.rof.co.in/blog/wp-content/uploads/2019/07/toronto-market-research-1380-x425.jpg);
    transition: .5s;
}
.f h5 h2 p{
    width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    /* transform: translate(-50%,-50%); */
    /* padding-left: 50%; */
}
.blog{
    display: flex;
}
.contant{
    width: 50%;
    text-align: center;
    /* background-color: #808080; */
    margin-left: 25%;

}
.fifth{
    height: 120vh;
}
.six{
    background-color: rgb(250, 250, 250);
    height: 150vh;
}
.bar ul li{
    margin-top: 100px;
}
.askquestion  {
    text-align: center;
    padding-top: 5%;
   
}
.how  {
   
    width: 60%;
    height: 30vh;
    background-color: #fff;
    margin-top: 70px;
    margin-left: 300px;
    border-radius: 20px;
}
.how h2{
    margin-left: 10%;
    color: #505050;
    padding-top: 40px;
}
.how p{
    margin-left: 5%;
    margin-right: 5%;
}

.whatisweb{
    width: 60%;
    height: 30vh;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 300px;
    border-radius: 20px;
}
.whatisweb h2{
    margin-left: 10%;
    color: #505050;
    padding-top: 40px;

}
.whatisweb p{
    padding-left: 5%;
    padding-right: 5%;
}
.whysocial{
    width: 60%;
    height: 30vh;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 300px;
    border-radius: 20px;
}
.whysocial h2{
    margin-left: 10%;
    color: #505050;
    padding-top: 40px;

}
.whysocial p{
    padding-left: 5%;
    padding-right: 5%;

}
.seventh{
    padding: 8% 8%;
}
.testimonail{
    text-align: center;

}
.profile{
    display: flex;
    width: 100%;
    margin-top: 10%;
}
.profile .persontext {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 15px;
    width: 45%;
}
.profile .persontext p{
    font-size: 17px;
}
.profile .personpic img{
   width: 90px;
   height: 90px;
   margin-top: 30px;
}
.eighth{
    background-color: rgb(250, 250, 250);
    height: 100vh;


}
.eighth .getintouch{
    text-align: center;
    padding-top: 10%;


}
.textbox{
    background: transparent;
    border: 2px solid rgb(194, 170, 170);
    box-shadow: none;
    margin-top: 18px;
    margin-bottom: 10px;
   
    
}.contact input {
    height: 45px;
    width: 300px;
    margin-left: 30%;
    margin-top: 5%;
   
}
.contact{
    margin-top: -3%;
   
}
.contact2{
    margin-top: -5%;
}

.tarea{
    margin-left: 55%;
    margin-top: -19%; 
    background: transparent;
    border-radius: 5px;
    
}
.textb{
   margin-top: 50px;
}
.textbox{
    border-radius: 5px;
}
.btn{
    margin-top: 8%;
    margin-left: 38%;
    
}
.btnsm{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    color: rgb(241, 241, 240);
    background: turquoise;
    
}
.bottom{
    margin-top: 2%;
    margin-left: 35%;
    /* width: 100%; */
    height: 30vh;
}


.iconn {
    display: flex;
    margin-left: 9%;
    margin-top: 5%;
}
.iconn li {
    list-style-type: none;
}
.iconn li a{
    
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
   
    background: rgb(19, 18, 18);
    font-size: 24px;
    color: rgb(243, 235, 235);
    margin: 0 5px;
   
}
